.home,
.home img {
  height: 90vh;
}

.home img {
  width: 100vw;
  position: absolute;
}

.home p,
.home h1 {
  background: linear-gradient(180deg, #000000 0%, #494949 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home button:hover {
  cursor: pointer;
  font-size: 20px;
}

/* MOBILE (320 -> 480 ) ------------- */
@media all and (min-width: 320px) {
}
/* iPads / Tablets (481 -> 768) ------------- */
@media all and (min-width: 481px) and (max-width: 768px) {
}
/* Laptops and small screen (769 -> 1024 ) ------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
}
/* Large screens and Desktops (1025 -> 1200 ) ------------- */
@media all and (min-width: 1025px) and (max-width: 1200px) {
}
/* TV and Extra Large Screens (1201 -> 1920 ) ------------- */
@media all and (min-width: 1201px) {
}
/* XXL Screen ( > 1921 ) ------------- */
@media all and (min-width: 1921px) {
}