header {
  width: 100%;
  background-color: #fff;
}

.nav_logo {
  max-width: 1366px;
  background-color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

header,
.nav_logo {
  height: 100px;
}

.nav_logo ul {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  gap: 10px;
}

header li {
  font-size: 25px;
  font-weight: 400;
  transition: font-weight 400ms ease-out;
}

header li:hover {
  font-weight: 900;
  background: linear-gradient(180deg, #000000 0%, #494949 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.logo p {
  background: linear-gradient(180deg, #000000 0%, #494949 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* MOBILE (320 -> 480 ) ------------- */
@media all and (min-width: 320px) and (max-width: 480px) {
  .nav_logo {
    flex-direction: column;
  }

  .logo {
    height: 60px;
  }

  .nav_logo ul {
    justify-content: center;
    gap: 8.5vw;
    height: 40px;
  }

  .nav_logo li {
    font-size: 12px;
  }

  .logo img {
    width: 35px;
  }
  .logo p {
    font-size: 3.5vw;
  }
}
/* iPads / Tablets (481 -> 768) ------------- */
@media all and (min-width: 481px) and (max-width: 768px) {
  .nav_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    height: 60px;
  }

  .logo img {
    width: 40px;
  }
  .logo p {
    width: 200px;
  }

  .nav_logo ul {
    justify-content: center;
    gap: 9vw;
    height: 40px;
  }

  .nav_logo li {
    font-size: 15px;
  }
}
/* Laptops and small screen (769 -> 1024 ) ------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
  .nav_logo {
    display: flex;
    justify-content: space-between;
    margin-right: 4vw;
  }
  .nav_logo ul {
    gap: 5vw;
  }
  .nav_logo li {
    font-size: 2vw;
  }
  .logo {
    margin-left: 4vw;
  }
  .logo img {
    width: 50px;
  }
  .logo p {
    width: 150px;
    font-size: 2vw;
  }
}
/* Large screens and Desktops (1025 ->) ------------- */
@media all and (min-width: 1025px) {
  .nav_logo ul {
    width: 67%;
    justify-content: left;
    gap: 5vw;
    margin-left: auto;
    margin-right: auto;
  }
  .nav_logo li {
    font-size: 20px;
  }
  .logo {
    justify-content: left;
    margin-left: 3vw;
    width: 30%;
  }
  .logo img {
    width: 50px;
  }
  .logo p {
    width: 175px;
    font-size: 25px;
  }
}

/* XXL Screen ( > 1367 ) ------------- */
@media all and (min-width: 1367px) {
}
