header, .nav_logo {
  height: 10vh;
  background-color: #fff;
}

.nav_logo ul {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  gap: 10px;
}

header li {
  font-size: 25px;
  font-weight: 300;
  transition: font-weight 400ms ease-out;
}

header li:hover {
  font-weight: 900;
  background: linear-gradient(180deg, #000000 0%, #494949 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

/* MOBILE (320 -> 480 ) ------------- */
@media all and (min-width: 320px) {
  .nav_logo ul {
    justify-content: center;
    gap: 10vw;
  }

  .nav_logo li {
    font-size: 10px;
  }
  .logo {
    padding: 7px 0px;
  }
  .logo img {
    width: 30px;
  }
  .logo p {
    font-size: 12px;
  }
}
/* iPads / Tablets (481 -> 768) ------------- */
@media all and (min-width: 481px) and (max-width: 768px) {
  .nav_logo {
    display: flex;
    justify-content: space-between;
  }
  .nav_logo ul {
    gap: 4vw;
    margin-right: 3vw;
  }
  .logo {
    margin-left: 3vw;
  }
  .logo p {
    width: 100px;
  }
}
/* Laptops and small screen (769 -> 1024 ) ------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
  .nav_logo {
    display: flex;
    justify-content: space-between;
  }
  .nav_logo ul {
    gap: 5vw;
    margin-right: 3vw;
  }
  .nav_logo li {
    font-size: 16px;
  }
  .logo {
    margin-left: 3vw;
  }
  .logo img {
    width: 40px;
  }
  .logo p {
    width: 150px;
    font-size: 14px;
  }
}
/* Large screens and Desktops (1025 -> 1200 ) ------------- */
@media all and (min-width: 1025px) and (max-width: 1200px) {
  .nav_logo {
    display: flex;
    align-items: center;
  }
  .nav_logo ul {
    border: 1px solid red;
    gap: 5vw;
    margin-left: auto;
    margin-right: auto;
  }
  .nav_logo li {
    font-size: 20px;
  }
  .logo {
    border: 1px solid blue;
    margin-left: 3vw;
  }
  .logo img {
    width: 40px;
  }
  .logo p {
    width: 150px;
    font-size: 14px;
  }

}
/* TV and Extra Large Screens (1201 -> 1920 ) ------------- */
@media all and (min-width: 1201px) {
  .nav_logo {
    display: flex;
    align-items: center;
  }
  .nav_logo ul {
    border: 1px solid red;
    gap: 5vw;
    margin-left: auto;
    margin-right: auto;
  }
  .nav_logo li {
    font-size: 20px;
  }
  .logo {
    border: 1px solid blue;
    margin-left: 3vw;
  }
  .logo img {
    width: 50px;
  }
  .logo p {
    width: 150px;
    font-size: 18px;
  }
}
/* XXL Screen ( > 1921 ) ------------- */
@media all and (min-width: 1921px) {
}
